.check{
    font-weight: bolder;
}

.Icon-check-dvg{
    fill: rgb(0, 114, 0);
    width: 20px;
    margin: 12px;
}

.Icon-delete-dvg{
    background-color: white;
    border-radius: 50%;
    width: 22px;
}

.check-complete{
    fill: grey;
    margin: 12px;
}
span.check:hover .Icon-check-dvg{
    cursor: pointer;
    fill: rgb(180, 176, 176);
    font-size: 1.5em;
}
span.delete{
    position: absolute;
    top: -20px;
    right: -20px;
    font-weight: bolder;
    border-radius: 50%;
    margin: 12px;
    width: 20px;
    fill: grey;

}
span.delete:hover .Icon-delete-dvg{
    fill: rgb(197, 0, 0);
    cursor: pointer;
    width: 21px;
    background-color: rgb(230, 223, 223);
}
span.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    text-align: center;
    width: 80%;
}
span.text-complete {
    text-decoration: line-through;
    color: grey;
}
li{
    position: relative;
    display: flex;
    align-items: center;
    min-height: 40px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 1px 5px rgb(189, 189, 189);
}
li:hover{
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}