ul{
    list-style: none;
    width: 45%;
    min-width: 300px;
    text-align: center;
    max-height: 60vh;
    overflow: scroll;
    margin-right: 20px;
    padding: 0;
}

ul::-webkit-scrollbar {
    width: 8px;
    height: 0;
}

ul::-webkit-scrollbar-thumb {
    background: rgb(64, 66, 88);
    border-radius: 50px;

}

@media (max-width: 740px) {
    ul{
      width: 80%;
      overflow: hidden;
      max-height: none;
      margin: 16px 0 0 0;
    }
  }


