.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: 200px;
}
.input-agregar{
    height: 150px;
    width: 100%;
    margin: 30px 0 30px 0;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(189, 189, 189);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: scroll;
    resize: none; /*Para que los usuarios no puedan redimensionar el tamanio del textarea*/
}
button.create-mobile{
    display: none;
}

.input-agregar::-webkit-scrollbar {
    width: 8px;
    height: 0;
}

.input-agregar::-webkit-scrollbar-thumb {
    background: rgb(64, 66, 88);
    border-radius: 50px;
}

textarea{
   height: 150px;
   font-size: 1em;
   padding: 30px 8px 20px 8px;
   box-sizing: border-box;
}

button.create,
button.create-mobile{
    height: 40px;
    width: 104px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 32px;
    border: 1px solid gray;
    border-color: buttonborder;
    border-width: 2px;
    border-style: outset;
}

.create:hover,
.create-mobile:hover{
    cursor: pointer;
    background-color: rgb(178, 205, 255);
}

@media (max-width: 740px) {
    .container{
        order: -1;
        width: 70%;
    }
    textarea{
        padding: 15px 5px 7px 5px;
        font-size: .8em;
     }
    .input-agregar{
        height: 80px;
        margin: 3px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;

    }
    .input-agregar::-webkit-scrollbar {
        width: 0px;
    }
    button.create{
        display: none;
    }

    button.create-mobile{
        display: block;
        height: 30px;
        width: 100%;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius:10px;
        box-shadow: 1px 1px 5px rgb(189, 189, 189);
    }
}