.creative{
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: column;
    height: 350px;
    overflow: hidden;
    width: 350px;
}


img{
    position: relative;
    z-index:1;
    width: 100%;
}
.crea{
    color: rgb(90, 72, 72);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(236, 87, 204, 0.651);
    position: absolute;
    right: 15px;
    background-color: rgba(56, 90, 100, 0.274);
    padding: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(62, 101, 116);
    box-shadow: 2px 2px 2px rgba(27, 46, 53, 0.651);
    text-align: center;
    display: flex;
    align-items: center;
    z-index:2;
}

@media (max-width: 740px) {
    .creative{
      width: 100%;
      flex-direction: column;
      align-items: center;
      
    }

    img{
        margin-top: 2px;
    }
    .crea{
        width: 80px;
        height: 80px;
    }
  }

  @media (max-width: 860px) {
    .crea{
        right: 50px;
    }
    
  }


